#user-container{
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            background-color: darkslategray;
            height: fit-content;
        }

        #result-container{
            margin-top: 5px;
            border: 2px solid;
        }

        .user-btn{
            background-color: gold
        }